[Unit]
Description=%p %i
PartOf=%p.service
After=postgresql.service
OnFailure=systemd-failure-email.service

[Service]
WorkingDirectory=%h/livejack/server/%i
ExecStart=node app.js
Restart=always
RestartSec=5
Environment=HOME=%h
Environment=NODE_ENV=%i
Environment=VIPS_WARNING=0
Environment=GIGACAGE_ENABLED=no

[Install]
WantedBy=default.target

