# This service is actually a systemd target, but we are using a service since
# targets cannot be reloaded.

[Unit]
Description=Control %p
Requires=livejack-broker-$NODE_ENV@0-0.service
Requires=livejack-broker-$NODE_ENV@0-1.service
Requires=livejack-broker-$NODE_ENV@0-2.service
Requires=livejack-broker-$NODE_ENV@0-3.service
Requires=livejack-broker-$NODE_ENV@0-4.service
Requires=livejack-broker-$NODE_ENV@0-5.service
Requires=livejack-broker-$NODE_ENV@0-6.service

[Service]
Type=oneshot
ExecStart=/bin/true
ExecReload=/bin/true
RemainAfterExit=on

[Install]
WantedBy=default.target
