[Unit]
Description=%p %i
PartOf=%p.target

[Service]
ExecStart=/bin/sh %h/public_nodejs/broker/app.js %i
Restart=always
Environment=NODE_ENV=$NODE_ENV

[Install]
WantedBy=livejack-broker-$NODE_ENV.target

